#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto
}
a.active {
  color: white;
  font: 20px 'Helvetica Neue'
}


.jumbo{
  margin: 20px;
  height: 80px;
  width: 800px;
  background-color: #fbb040;
  border-radius: 8px;
}

.header{
  color: #FDFEFE;
  padding: 30px;

}

.float-right{
  float: right;
  margin-right: 20px;
}
.body{
  margin-top: 20px;
  background-color: #575171;
}
.img{
padding-left: 10px;
float:left;
}
.btn-img{
margin-left: 20px;
margin-right: 60px;
float: left;
}
.category{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top:20px;
  margin-bottom:20px;
}
.btn-right{
  float: right;
  margin-right: 45px;
}
.patient-header {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 60px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    width: 400px;
    background: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
}
.title{
  margin-right: 70px;
}
