#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto
}
a.active {
  color: white;
  font: 20px 'Helvetica Neue'
}


.jumbo{
  margin: 20px;
  height: 80px;
  width: 800px;
  background-color: #fbb040;
  border-radius: 8px;
}

.header{
  color: #FDFEFE;
  padding: 30px;

}

.float-right{
  float: right;
}
.body{
  margin-top: 20px;
  background-color: #726a95;
}
.img{
padding-left: 10px;
}
